<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
    <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter"/>
  </configSections>
  <connectionStrings>
    <add name="task" connectionString="Data Source=192.168.1.139;Initial Catalog=task;Persist Security Info=True;User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>
  </connectionStrings>


  <appSettings>
    <add key="picture" value="http://localhost:63503/upimg/"/>
    <add key="tuiguang" value="http://localhost:63503/Registere.aspx?id={0}"/>
    <add key="yaoqing" value="http://localhost:63503/Register.aspx?id={0}"/>
    <add key ="xiangqingye" value="http://localhost:63503/"/>
    <add key="shezhitime" value="24"/>
    <add key="huiyuan" value=",overview.aspx,corelist.aspx,task.aspx,bindbuyer.aspx,depositlist.aspx,releasedlist.aspx,tasklist.aspx,rechargelist.aspx,withdrawlist.aspx,loginlist.aspx,rechargeone.aspx,rechargetwo.aspx,applythree.aspx,applyone.aspx,applytwo.aspx,countnum.aspx,taskcount.aspx,"/>
    <add key="shangjia" value=",ordinarytask.aspx,lailutask.aspx,sendtask.aspx,bindseller.aspx,bindbuyer.aspx,orderlist.aspx,buyerlist.aspx,releaseprocess.aspx,paymentsuccess.aspx,wentitask.aspx,buyerquestiontasklist.aspx,addsuper.aspx,audittask.aspx,auditshilist.aspx,audittaskshi.aspx,audittasky.aspx,audittaskyong.aspx,audityonglist.aspx,"/>
    <add key="tmptuiguang" value=",promotion.aspx,addnotice.aspx,listnotice.aspx,"/>
    <add key="xinshou" value=",buypoint.aspx,adminmanage.aspx,adminqa.aspx,adminyong.aspx,detail.aspx,detail.aspx,detailqa.aspx,"/>
    <add key="shenhe" value=",rechargadmin.aspx,taskadmin.aspx,recharglist.aspx,chongzhilist.aspx,merchantadmin.aspx,chongzhiadmin.aspx,"/>
    <add key="usermessage" value=",usermanage.aspx,cardlist.aspx,"/>
    <add key="insertgold" value=",insertgoldpion.aspx,"/>
    <add key="quan" value=",quanlist.aspx,"/>
    <add key="ModifyTime" value=",modifytime.aspx,"/>

    <add key="userTmp" value="http://localhost:51696/login.aspx"/>
    <add key ="adminTmp" value="http://localhost:6108/login.aspx"/>

    <add key="url" value="http://localhost:63503/"/>
    <add key="url2" value="http://91zhepingou.com/"/>
    <add key="userurl" value="http://localhost:51696/"/>
    <add key="adminurl" value="http://localhost:6108/"/>
    <add key="qdshouye" value=",home.aspx,help.aspx,login.aspx,helpyq.aspx,"/>
    <add key="qdmianfen" value=",details.aspx,detailslist.aspx,details.aspx,detailslist.aspx,login.aspx,"/>
    <add key="qdwenda" value=",qatasklist.aspx,qadetails.aspx,login.aspx,"/>
    <add key="qdshiyong" value=",login.aspx,"/>
    <add key="qdyouqing" value=",login.aspx,yaoqing.aspx,"/>
    <add key="qdxinshou" value=",new.aspx,login.aspx,"/>
    <add key="chaojifan" value=",super.aspx,login.aspx,"/>
    <add key="comm" value=",login.aspx,commlist.aspx,"/>


    <add key="pwd" value="!QAZxsw2#EDCvfr4"/>
    <add key="user" value="zcy123123"/>
    <add key="qiniu" value="http://7xqij3.com1.z0.glb.clouddn.com/"/>
    <add key="urls" value="http://www.toyisland.cn"/>
    <add key="cachepic" value="D:\shiyong\upimg\data.json"/>
    <add key="firstMoney" value="1"/>
    <!--七牛上传-->
    <add key="NAME" value="image91"/>
    <add key="AK" value="1G5S7rsUN6OROvmI0tAayz5PC8faGXnqWkcB5HLa"/>
    <add key="SK" value="ZJc2Gkv1orA7gwLHTs_JgOqdbpEAvcuV67rS6x0x"/>
    <add key="QINUIURL" value="http://7xvcw2.com1.z0.glb.clouddn.com"/>
  </appSettings>
  <rewriter file="~/App_Data/rewrite.xml"/>
  <system.web>
    <authentication mode="Forms">
      <forms name=".Share_USER" loginUrl="~/Home.aspx" protection="All" path="/"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    <httpModules>
      <add type="Intelligencia.UrlRewriter.RewriterHttpModule,Intelligencia.UrlRewriter" name="UrlRewriter"/>
    </httpModules>
    <!--错误配置页面-->
    <!--<customErrors mode="On" defaultRedirect="Error.html">
      <error statusCode="404" redirect="Error.html" />
    </customErrors>-->
  </system.web>
  <system.webServer>
    <modules>
      <add type="Intelligencia.UrlRewriter.RewriterHttpModule,Intelligencia.UrlRewriter" name="UrlRewriter"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="busines/OrdinaryTask.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Registere.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="home.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="Details.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="ImportData.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="sellerIn.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="DetailsList.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="QaDetails.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="QaTaskList.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="CommList.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="data/popup.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="data/data.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="binduser.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="helpyq.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="Helper.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="Merchant.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="Help.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="Yaoqing.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="Shangjia.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="Shokey.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="Error.html">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>


  <location path="css">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="validatedcode/validatedcode.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="promotion/Promotion.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="New.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="testapi.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Super.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="Opinion.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="images">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="js">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="test.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <log4net>
    <!--定义输出到文件中-->
    <appender name="SysAppender" type="log4net.Appender.RollingFileAppender">
      <!--日志的路径-->
      <file value="Logs/Exception/"/>
      <!--是否覆盖，默认是追加true-->
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <!--文件名称-->
      <DatePattern value="yyyy-MM-dd'.log'"></DatePattern>
      <!--设置无限备份=-1 ，最大备份数为1000-->
      <param name="MaxSizeRollBackups" value="1000"/>
      <!--每个文件的大小-->
      <param name="MaximumFileSize" value="500KB"/>
      <!--名称是否可以更改为false为可以更改-->
      <param name="StaticLogFileName" value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <!--输出格式-->
        <conversionPattern value="%n＝＝＝＝＝＝＝＝＝＝
%n【日志级别】%-5level
%n【记录时间】%date
%n【线程编号】[%thread]
%n【执行时间】[%r]毫秒
%n【出错文件】%F
%n【出错行号】%L
%n【出错的类】%logger 属性[%property{NDC}]
%n【错误描述】%message
%n【错误详情】%newline"/>
      </layout>
    </appender>

    <root>
      <level value="Error"/>
      <!--文件形式记录日志-->
      <appender-ref ref="SysAppender"/>
    </root>
  </log4net>


</configuration>

